<div>
    <h3>Change Password</h3>
        <form (ngSubmit)="onSubmit()" #myForm="ngForm">
            <mat-form-field class="example-form">
                <input matInput placeholder="Email" id="email" name="email" value="{{oldEmail}}"> <!--Display value of oldEmail with interpolation binding-->
            </mat-form-field>
            <br/>
            <mat-form-field class="example-form">
                <input matInput placeholder="Old Password" id="password" name="password" value="{{oldPassword}}"> <!--Display value fo oldPassword with interpolation binding-->
            </mat-form-field>
            <br/>
            <mat-form-field class="example-form">
                <input matInput placeholder="New Password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" > 
            </mat-form-field>        
            <p>
            <button type="submit" mat-raised-button> Submit </button>
            </p>
        </form> 
</div>